{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-await-in-loop": "off"
    }
}